:where(h1, h2, h3, p) {
  color: white !important;
}

:where(h1) {
  text-decoration: underline;
}

:where(blockquote p) {
  opacity: 55%;
}

:where(.card) {
  border: 1px solid black !important;
}

:where(.card) {
  h3 {
    text-decoration: underline;
    font-weight: 500;
  }

  p {
    font-weight: 250;
    font-style: italic;
  }

  small {
    color: white !important;
  }
}
