@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1C1E1E;
}

:where(h1) {
  background: linear-gradient(to right, #b4d9ef, #f8c57c, #f8c57c);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0 !important;
}

:where(h2) {
  color: white;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}