@import url('https://api.fonts.coollabs.io/css2?family=IBM+Plex+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './scrollbar.scss';

// * {
//     border-width: 2px;
//     border-color: red;
// }

@mixin white-text-with-font {
  color: white;
  font-family: 'IBM Plex Sans';
}

* {
  box-sizing: border-box;
  max-width: 100vw;
}

body {
  background-image: linear-gradient(#1c1c1e 50%, 99.9%, white);
  width: 100vw !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:where(h2) {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

:where(#info-card) {
  p {
    @include white-text-with-font;
  }

  h2 {
    color: white !important;
  }
}

:where([astro-icon]) {
  color: white;
}