---
import Title from '../components/Title.astro';
import PrimaryLayout from '../layouts/PrimaryLayout.astro';
---

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      entry.target.classList.toggle('show', entry.isIntersecting)
    })
  })

  const elements = document.querySelectorAll('.blind')
  elements.forEach((elem) => observer.observe(elem))
</script>

<PrimaryLayout>
  <Title />

  <div class='pt-5 m-10 mt-0 ml-0 mr-0'>
    <div
      id='info-card'
      class='flex flex-row items-start justify-start w-screen pl-28 place-items-baseline'
    >
      <div class='max-w-xl blind'>
        <h2 class='text-4xl font-bold'>Woah</h2>
        <p>
          Who are we? What are we? In a nutshell, it's just a singular
          developer, me (Artie), I just roam the internet and if something were
          to peak my interest, there's a great chance I'll rewrite it in Elixir
          or Rust
        </p>
      </div>
    </div>

    <div
      id='info-card'
      class='flex flex-row items-start justify-end w-screen mt-5 pr-28 place-items-baseline'
    >
      <div class='mt-[20vh] max-w-xl blind'>
        <h2 class='mt-0 text-4xl font-bold'>What we Build</h2>
        <p>
          We primarily rebuild applications in other languages such as Elixir
          and Rust, and customize it to our requirements, etc.
        </p>
      </div>
    </div>
  </div>
</PrimaryLayout>

<style>
  :where(div .blind) {
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  :where(div .show) {
    opacity: 1;
  }
</style>
