---
import Title from "../components/Title.astro";
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
---

<PrimaryLayout>
    <Title />
    
    <div class='w-screen grid place-items-center'>
      <div style='width: 500px; height: 200px;'>
        <p class='text-white m-0 p-0'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum enim officia neque voluptatibus. Unde vel, quae nihil tenetur magnam ratione qui quos harum odit deserunt id iure dignissimos repellendus eaque.</p>
      </div>
    </div>
</PrimaryLayout>
