---
import Title from '../components/Title.astro';
import PrimaryLayout from '../layouts/PrimaryLayout.astro';
---

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      entry.target.classList.toggle('show', entry.isIntersecting)
    })
  })

  const elements = document.querySelectorAll('.blind')
  elements.forEach((elem) => observer.observe(elem))
</script>

<PrimaryLayout>
  <div class='w-screen h-screen main-bg'>
    <Title />
  </div>

  <div class='w-screen h-screen p-2 pt-0 pb-0 pr-0 md:p-0 secondary-bg glow'>
    <div
      id='info-card'
      class='flex flex-row items-start justify-start w-screen pt-6 md:pl-24 place-items-baseline blind'
    >
      <div class='max-w-xl'>
        <h2 class='text-4xl font-bold'>Woah</h2>
        <p>
          Who are we? What are we? In a nutshell, it's just a singular
          developer, me (Artie), I just roam the internet and if something were
          to peak my interest, there's a great chance I'll rewrite it in Elixir
          or Rust.
        </p>
      </div>
    </div>

    <div
      id='info-card'
      class='flex flex-row items-start justify-end w-screen pr-28 place-items-baseline blind'
    >
      <div class='mt-[10vh]  md:mt-[15vh] max-w-xl'>
        <h2 class='mt-0 text-4xl font-bold'>What we Build</h2>
        <p>
          We primarily rebuild applications in other languages such as Elixir
          and Rust, and customize it to our requirements, etc.
        </p>
      </div>
    </div>
  </div>
</PrimaryLayout>

<style>
  :where(div .blind) {
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  :where(div .show) {
    opacity: 1;
  }

  :where(div .main-bg) {
    background-color: #1C1E1E;
  }

  :where(div .secondary-bg) {
    background-color: #28282b;
  }

  :where(div .glow) {
    box-shadow: 0 0 30px white;
  }
</style>
