---
import Title from '../components/Title.astro';
import PrimaryLayout from '../layouts/PrimaryLayout.astro';
---

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      entry.target.classList.toggle('show', entry.isIntersecting)
    })
  })

  const elements = document.querySelectorAll('.blind')
  elements.forEach((elem) => observer.observe(elem))
</script>

<PrimaryLayout>
  <div class='w-screen h-screen main-bg'>
    <Title />
  </div>

  <div class='w-screen h-screen md:p-0 secondary-bg glow'>
    <div
      id='info-card'
      class='flex flex-row items-start justify-start w-screen pt-8 md:pl-20 place-items-baseline '
    >
      <div class='max-w-xl pt-12 blind'>
        <h2 class='text-4xl md:text6xl font-bold'>Woah</h2>
        <p class='text-lg'>
          Who are we? What are we? In a nutshell, it's just a singular
          developer, me (Artie), I just roam the internet and if something were
          to peak my interest, there's a great chance I'll rewrite it in Elixir
          or Rust.
        </p>
      </div>
    </div>

    <div
      id='info-card'
      class='flex flex-row items-start justify-end w-screen pr-28 place-items-baseline blind'
    >
      <div class='mt-[10vh]  md:mt-[15vh] max-w-xl'>
        <h2 class='mt-0 text-4xl md:text6xl font-bold'>What we Build</h2>
        <p class='text-lg'>
          We primarily rebuild applications in other languages such as Elixir
          and Rust, and customize it to our requirements, etc.
        </p>
      </div>
    </div>
  </div>
</PrimaryLayout>

<style>
  :where(div .blind) {
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  :where(div .show) {
    opacity: 1;
  }

  :where(div .main-bg) {
    background-color: #1C1E1E;
  }

  :where(div .secondary-bg) {
    background-color: #28282b;
    background-image: url('/wave-haikei.svg');
    background-blend-mode: overlay;
  }

  :where(div .glow) {
    animation: glow 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite none;
  }

  @keyframes glow {
    10% {
      box-shadow: 0 0 0px white;
    }

    50% {
      box-shadow: 0 0 25px white;
    }

    100% {
      box-shadow: 0 0 0px white;
    }
  }
</style>
