---
import '../styles/posts.scss';

import BackButton from '../components/BackButton.astro';
import PostsFooter from '../components/PostFooter.astro';
import PrimaryLayout from './PrimaryLayout.astro';

const { frontmatter: { author, date } } = Astro.props;
---

<PrimaryLayout>
  <!-- @ts-ignore -->
  <BackButton/>
  <div class='flex flex-col items-center justify-center w-screen mt-5'>
    <div class='max-w-sm md:max-w-3xl'>
      <slot />
    </div>
  </div>
  <PostsFooter author={author} date={date}/>
</PrimaryLayout>

