---
import '../styles/posts.scss';

import PostBackButton from '../components/PostBackButton.astro';
import PostsFooter from '../components/PostFooter.astro';
import PrimaryLayout from './PrimaryLayout.astro';

const { frontmatter: { author, date } } = Astro.props;
---

<PrimaryLayout>
  <!-- @ts-ignore -->
  <PostBackButton/>
  <div class='flex flex-col justify-center items-center w-screen'>
    <div class='max-w-sm md:max-w-3xl'>
      <slot />
    </div>
  </div>
  <PostsFooter author={author} date={date}/>
</PrimaryLayout>

