---
import { SEO } from 'astro-seo'
import '../styles/preflight.scss'
---

<html lang='en'>
  <head>
    <SEO
      charset='utf8'
      title='Netsu'
      description='Local Software Engineer(s)'
      extend={{
        link: [{ rel: 'icon', href: '/favicon.ico' }],
        meta: [
          {
            name: 'viewport',
            content: 'width=device-width',
          },
          { name: 'generator', content: Astro.generator },
        ],
      }}
    />

    <script
      defer
      data-domain='netsu.network'
      src='https://analytics.astolfo.cafe/js/script.js'
    ></script>
  </head>

  <body>
    <div class='flex-col justify-center w-screen m-0 prose md:relative lex prose-zinc'>
      <slot />
    </div>
  </body>
</html>
