---
import '../styles/preflight.scss';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='Local Software Engineer(s)' />
    <title>NetSu</title>

    <script defer data-domain="netsu.network" src="https://analytics.uvvu.pw/js/script.js"></script>
  </head>

  <body>
    <div class='h-screen w-screen max-w-2xl prose prose-zinc' style='margin: none !important;'>
      <slot />
    </div>
  </body>
</html>
